* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  list-style: none;
}
.victor {
  &__head {
    padding: 30px;
    display: flex;
    justify-content: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 110px;
    color: #16051a;

    border-bottom: 4px solid#f5a1d1;
  }
  &__body {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    padding-bottom: 100px;
    &-sasha {
      padding-left: 100px;
      padding-right: 100px;
      h1 {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 74px;
        color: #16051a;
      }
      p {
        width: 460px;
        white-space: pre-wrap;
        margin-top: 100px;
        margin-bottom: 20px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;
        color: #16051a;
      }
    }
    &-kirill {
      padding-right: 100px;
      padding-left: 100px;
      h1 {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 74px;
        color: #16051a;
      }
      p {
        margin-top: 100px;
        margin-bottom: 20px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;
        color: #16051a;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    border-top: 4px solid#f5a1d1;
  }
}
@media screen and (max-width: 1155px) {
  .victor {
    &__body {
      flex-direction: column;
      align-items: center;
      &-sasha {
        padding: 0;
        width: 460px;
        padding-bottom: 200px;
        border-bottom: 4px solid#f5a1d1;
      }
      &-kirill {
        padding: 0;
      }
    }
  }
}
@media screen and (max-width: 490px) {
  .victor {
    &__body {
      &-kirill {
        margin-left: 20px;
        p {
          font-size: 20px;
          line-height: 25px;
        }
        .task {
          &__que {
            &-li {
              width: 300px;
              height: 320px;
            }
          }
        }
      }
      &-sasha {
        width: 360px;
        margin-left: 20px;
        p {
          width: 360px;
          white-space: pre-wrap;
          font-size: 20px;
          line-height: 25px;
        }
        .task {
          &__que {
            &-li {
              width: 300px;
              height: 320px;
            }
          }
        }
      }
    }
  }
}
