* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  list-style: none;
}
.victor {
  &__head {
    padding: 30px;
    display: flex;
    justify-content: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 110px;
    color: #16051a;

    border-bottom: 4px solid#16051A;
  }
  &__body {
    padding: 30px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    &-sasha {
      padding-left: 100px;
      p {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 74px;
        color: #16051a;
      }
    }
    &-kirill {
      padding-right: 100px;
      p {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 74px;
        color: #16051a;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }
}
